$color-gray-02: #e4e4e4;
$color-gray-05: #595959;
$black: #000000;
$white: #ffffff;
$red: red;
$green: #477148;

$clubs: "\2663";
$diamonds:  "\2666";
$hearts:  "\2665";
$spades:  "\2660";

$body-font-family: 'Abel', sans-serif;
$header-font-family:  'Oswald', sans-serif;
